//Profile config names for nf-core/configs
params {
  config_profile_description = 'NeSI Mahuika cluster profile'
  config_profile_contact = 'support@nesi.org.nz'
  config_profile_url = 'https://github.com/nesi/20230503-pfr-nfandarray'
}

singularity {
  enabled = true
  runOptions = '-B /nesi/project -B /nesi/nobackup'
}

process {
  executor='slurm'
  queueSize = 15
  pollInterval = '5 min'
  dumpInterval = '6 min'
  queueStatInterval = '5 min'
  exitReadTimeout = '13 min'
  killBatchSize = 30
  submitRateLimit = '20 min'
  cpus = '4'
  memory = '2 GB'
  clusterOptions = '--time 00:30:00'
}    

params {
  igenomes_ignore = true
  max_memory = 16.GB
  max_cpus = 4
  max_time = 4.h
}


